<?xml version="1.0" encoding="utf-8" ?>

<appSettings>
  <add key="jwtIssuer" value="http://localhost/"/>
  <add key="jwtSecret" value="2F5D95FEA183B58E6EADD7F778AB6F671FD0383984079B9F3E51D391423AA888"/>
  <add key="serviceUsername" value="CS-LDAP-CCT"/>
  <add key="servicePassword" value="QUl59QpdpL**sTwZ"/>
  <add key="ldapServer" value="elder.gordon.edu:636"/>
</appSettings>
