<?xml version="1.0" encoding="utf-8" ?>

<appSettings>
  <add key="jwtIssuer" value="http://localhost/"/>
  <add key="jwtSecret" value="54FDE2C79A4F05BD6E7F2580D0165F8183CA8A4DC2AAEFCC6D776C19F100CCD5DA5EBB0F823B1F58CA1A1E639D7437B782B956726F1B7D7C285D62597C892D5B"/>
  <add key="serviceUsername" value="CS-LDAP-CCT"/>
  <add key="servicePassword" value="QUl59QpdpL**sTwZ"/>
  <add key="ldapServer" value="elder.gordon.edu:636"/>
</appSettings>
