.invisible {
    visibility: hidden;
    display: none;
}
select {
    -webkit-appearance: none;
}
@media (min-width: 550px) {
    .invisible {
        display: inline;
    }
    .row {
        margin-bottom: 20px;
        margin-top: 20px;
    }
}
button,
select,
input,
table {
    font-size: 80%;
}
button.button-blue {
    color: #FFF;
    background-color: #064983;
    border-color: #064983;
    font-weight: 600;
    padding: 0px 0px 0px 0px;
}
button.button-blue:hover,
button.button-blue:focus {
    color: #FFF;
    background-color: #7EA5C8;
    border-color: #7EA5C8;
}
input[type="text"]:focus,
select:focus {
    border: 1px solid #064983;
}
.navbar {
    display: none;
}
@media (min-width: 750px) {
    .navbar {
        height: 38px;
        padding: 6px 10px;
        background-color: #064983;
        border-radius: 4px;
        box-shadow: none;
        box-sizing: border-box;
        display: block;
    }
    .navbar > .container {
        width: 97%;
    }
    .navbar-list {
        list-style: none;
        margin-bottom: 0;
    }
    .navbar-item {
        position: relative;
        float: left;
        margin-bottom: 0;
    }
    .navbar-link {
        font-size: 80%;
        font-weight: 600;
        letter-spacing: .2rem;
        margin-right: 35px;
        text-decoration: none;
        color: #FFF;
    }
    .navbar-link:hover {
        color: #7EA5C8;
    }
}
