<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings file="secrets.config">
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="DEFAULT_ACTIVITY_IMAGE_PATH" value="https://360api.gordon.edu/browseable/uploads/Default/activityImage.png" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="DEFAULT_PROFILE_IMAGE_PATH" value="https://360api.gordon.edu/browseable/profile/Default/profile.png" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="DEFAULT_PREF_IMAGE_PATH" value="\\go\pref_photos\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="DEFAULT_IMAGE_PATH" value="\\go\photos\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
 

    <connectionStrings>
      <add name="CCTEntities1"
        connectionString="metadata=res://*/Models.CCT_DB_Models.csdl|res://*/Models.CCT_DB_Models.ssdl|res://*/Models.CCT_DB_Models.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=adminprodsql.gordon.edu;initial catalog=CCT;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <add name="StudentTimesheetsEntities"
        connectionString="metadata=res://*/Models.StudentTimesheet_DB_Models.csdl|res://*/Models.StudentTimesheet_DB_Models.ssdl|res://*/Models.StudentTimesheet_DB_Models.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=adminprodsql.gordon.edu;initial catalog=StudentTimesheets;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
 
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>
