<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Get Involved - Gordon College</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="~/Content/assets/favicon.ico" type="image/x-icon">

    <meta name="test-app/config/environment" content="%7B%22modulePrefix%22%3A%22test-app%22%2C%22environment%22%3A%22production%22%2C%22baseURL%22%3A%22/%22%2C%22locationType%22%3A%22hash%22%2C%22EmberENV%22%3A%7B%22FEATURES%22%3A%7B%7D%7D%2C%22APP%22%3A%7B%22name%22%3A%22test-app%22%2C%22version%22%3A%220.0.0+e84c1480%22%7D%2C%22exportApplicationGlobal%22%3Afalse%7D" />
    <link rel="stylesheet" href="~/Content/assets/vendor-a2db23d85e0413eb58e87bb778485eac.css" integrity="sha256-0UyFg26L+2m0IlDTzM4UYEC5ytEcoOaX5xswb/9Z2Ls= sha512-FOvKKNHlnqm2xR9MeiEZOwznIEcns99cc835QYm9z5Yg/ZUJuE4kAy9QPE2ugkp9/5yDX0hX8U8lZ+2qzgAocw==">
    <link rel="stylesheet" href="~/Content/assets/test-app-d41d8cd98f00b204e9800998ecf8427e.css" integrity="sha256-47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU= sha512-z4PhNX7vuL3xVChQ1m2AB9Yg5AULVxXcg/SpIdNs6c5H0NE8XYXysP+DGNKHfuwvY7kxvUdBeoGlODJ6+SfaPg==">
    <link rel="stylesheet" href="~/Content/assets/custom-3eed31082e836f01ef2bede0859c017a.css" integrity="sha256-/fxDMST/obhcXjKBdjQZ9vlGhXb/SoSRnxM4n/bioy0= sha512-3Ruhld8rH8gbXtevpGSd47bFwagCGzRDsAbDEd2+1vXPCRJdBmj/PFj2LDIOqeCWx/WSY0SqzxK5DMjsEoRy0Q==">
    <link rel="stylesheet" href="~/Content/assets/specific-activity-04389cbe87b0365d95c52ff6562640e6.css" integrity="sha256-Nm9ug2A2Lj/nGmUZID3twKr3SbU9Btzcnc7N6zTbQo0= sha512-kryYLdDzHNTJd50ZCvyJ3RNVSw+bC52qriPaVkQrMpISkZh2vArt7H8Kq/79bUsFJnoByC47BWgC0JYsepSbtw==">
    <link rel="stylesheet" href="~/Content/assets/my-activities-db777515e008b42d5e5b170052b74cca.css" integrity="sha256-awJFiEXK/TgR6eJxzAGVzRfuJafY/O6K792ePadX6iw= sha512-7kR53DehUnPgwLHOwArDgy8aHU0DwYM7XWlDNEH+7eDOLRP40MtgemZlBJUeZ5Yy9fuSwQAJ8hyBCDqA8it9aA==">
    <link rel="stylesheet" href="~/Content/assets/all-activities-e8251fc05ef7095f2bdc6a924f808a1e.css" integrity="sha256-0vuh2MG5F07Tf4MbDeoTsyQ2/fnIMfIUAgnimbRygpY= sha512-5AtJYzYGrmxrW8VJ00BoST6iUrJG/zV/8pS2fD5yhyeU6WfWruxLPN9HZSr1lNSNEUY7SW+zlyrVCZO0M+J8tg==">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>


</head>
<body>

    <script src="~/Content/assets/vendor-3805aadf252a1b05dc07878b9731d1f9.js" integrity="sha256-tmfp/hLK60W8cALlX6pP58HH17hWmoIVbEpS8qW1JLY= sha512-xR4/aiARHfNGFnwBMzFAL45Phoj9xe5b6LaztC1z1FEaQyM6eFYvhtJtc03a1wT5besoSHGrwqcHw0YMB2PWjg=="></script>
    <script src="~/Content/assets/test-app-7b2dc3748189b2165e211231bc0530ff.js" integrity="sha256-5+5Lt09zeHWcIxZPh04uUB2poOMsp9KtoUJcpoNeHog= sha512-J0iLf9AZzqTmxhW83lWA5fv2NrAtVzXhYWXRtIoBXBinpuqmbglwuOc4h60MbpV6UsR5yhQ/m1Oi4g5WacV6Wg=="></script>
    <div id="ember-basic-dropdown-wormhole"></div>
</body>
</html>
