<link rel="stylesheet" href="assets/specific-activity.css">

<div class="container main-container">
    <div class="col-sm-3">
        <div class="row">
            <h2 id="activityName">{{model.ACT_DESC}}</h2>
            <img id="activityPicture"
                src="http://whoopdirt.com/wp-content/uploads/2016/06/Gordon_Logo-294_bigger.gif">
        </div>
    </div>
    <div class="col-sm-9">
        <div class="row">
            <div class="col-sm-3">
                <button type="button" class="btn btn-blue form-control">Follow</button>
            </div>
            <div class="col-sm-3">
                <button type="button" class="btn btn-blue form-control">Request Membership</button>
            </div>
        </div>
        <div class="activity-info">
            <div class="row">
                <div class="col-sm-12">
                    <p class="activity-info-item">Leader: ...</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <p class="activity-info-item">Description: ...</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <p class="activity-info-item">Advisor: ...</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <p class="activity-info-item">Times: ...</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <p class="activity-info-item">Tags: ...</p>
                </div>
            </div>
        </div>
    </div>
</div>
