<link rel="stylesheet" href="assets/specific-activity.css">

<div class="container main-container">
    <div class="col-sm-6 col-left">
        <div class="row">
            <h2 class = "activity-name">{{model.ACT_DESC}}</h2>
            <img class = "activity-picture"
                src="http://whoopdirt.com/wp-content/uploads/2016/06/Gordon_Logo-294_bigger.gif">
        </div>
    </div>
    <div class="col-sm-6">
        <div class="row">
            <div class="col-sm-3">
                {{#link-to 'add-membership' model.ACT_CDE}}
                    <button type="button" class="btn btn-blue form-control">Follow</button>
                {{/link-to}}
            </div>
            <div class="col-sm-4">
                <button type="button" class="btn btn-blue form-control">Request Membership</button>
            </div>
        </div>
        <div class="activity-info">
            <div class="row">
                <div class="col-sm-12">
                    <p class="activity-info-item">Leader: ...</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <p class="activity-info-item">Description: {{model.ACT_CDE}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <p class="activity-info-item">Advisor: ...</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <p class="activity-info-item">Times: ...</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <p class="activity-info-item">Tags: ...</p>
                </div>
            </div>
        </div>
    </div>
</div>
